<!doctype html>
<html lang="en">
    {% load static %}
  <head>
  <!-- Meta tags SEO-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> LaFoodLa </title>  
    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static "materialize/css/materialize.css "%}">
    <script type="text/javascript" src="{% static "js/jquery.js" %}"></script> 
    <style type="text/css">
      input[type=number]::-webkit-inner-spin-button, 
      input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
      }
      ul li {
        display: inline-table;
      }
      </style>
  </head>



  <body >
    <div class="row container" style="margin-top:1%">
    <div class="row">
      <a class="waves-effect waves-light btn col s3 col offset-s4" style="align:center" href="/logout/">Logout</a>
    </div>

    <table>
      <th>Name</th>
      <th>Address</th>
      <th>Gpslocation</th>
      <th>City</th>
      <th>Timings</th>
      <tr>
        <td>{{user.name}}</td>
        <td><address>{{user.address|title}}</address></td>
        <td><address>{{user.gpslocation|title}}</address></td>
        <td><address>{{user.city|title}}</address></td>
        <td><address>{{user.timings|title}}</address></td>
      </tr>
    </table>
    

    <h5 style="text-align: center"> Update Your Count </h5>
      <form id='signupform' class="col s12" action="/update-bloodbank/" method="POST">{% csrf_token %}
        <div class="row  col s12" style="text-align:center">{{error}}</div>
        <div class="row">
        {% for  field in form %}
            <div class="input-field col s4">
              <input id="id_{{field.html_name}}" type="number" class="validate" name="{{field.html_name}}" value="{{field.value}}" required>
              <label for="{{field.id_for_label}}" >{{field.label}}</label>
            </div>
        {% endfor %}
        </div>
        <div class="row">
          <button class="waves-effect waves-light btn col s3 col offset-s4" style="align:center" 
            type="submit" form="signupform">Submit
          </button></div>
      </form>
    </div>
    
    <script type="text/javascript" src="{% static "materialize/js/materialize.min.js" %}"></script>

  </body>