<!doctype html>
<html lang="en" ng-app='bloodbank'>
  <head>
    {% load static %}
  <!-- Meta tags SEO-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Hospital4sure - BloodBank </title>  
    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static "materialize/css/materialize.css " %}">
  </head>

  <body>
    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <nav>
          <div class="nav-wrapper">
            <a href="/" class="brand-logo">Hospital4sure</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li>Hi {{user.name}}</li>
              <li><a href="/event/logout/">Logout</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
              <li>Hi {{user.name}}</li>
              <li><a href="/event/logout/">Logout</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <div class="container col s6">
      <div class="row">
        {% for event in events %}
        <div class="col s12 m6">
          <div class="card medium blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title" style="text-transform:capitalize">{{event.name}}</span>
              <p>Latest Update : {{event.latest}}</p>
              <p>{{event.details|linebreaksbr}}</p>
            </div>
            <div class="card-action">
              <a href="/event/view/{{event.id}}/">View Event</a>
              <a href="/event/edit/{{event.id}}/">Edit Event</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a class="btn-floating btn-large red" href="/event/add/">
        <i class="large material-icons">add</i>
      </a>
    </div>
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "materialize/js/materialize.min.js" %}"></script>
  </body>